# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment variables
.env

# Database
*.db

# Miscellaneous
/misc/

# PyCharm
.venv/
venv/
.idea/
__pycache__/

# Old versions
*_old.py

# Logs
*.log
