<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Default title{% endblock %}
        </title>
        {% block additional_links %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/components.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="module" src="{{ url_for('static', filename='scripts/source.js') }}"></script>
    </body>
</html>